In [1]:
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Bad key axes.color_cycle in file /Users/lade/.matplotlib/matplotlibrc, line 241 ('axes.color_cycle    : 5DA5DA, FAA43A, 60BD68, F17CB0, B2912F, B276B2, DECF3F, F15854, 4D4D4D')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.4.3/matplotlibrc.template
or from the matplotlib source distribution
/var/folders/1p/d4hfqy4d7kj4dl0jw737b9w00000gn/T/ipykernel_69847/2693561922.py:4: MatplotlibDeprecationWarning:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
  import matplotlib.pyplot as plt

Bad key verbose.level in file /Users/lade/.matplotlib/matplotlibrc, line 392 ('verbose.level  : helpful      # one of silent, helpful, debug, debug-annoying')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.4.3/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.fileo in file /Users/lade/.matplotlib/matplotlibrc, line 393 ('verbose.fileo  : sys.stdout  # a log filename, sys.stdout or sys.stderr')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.4.3/matplotlibrc.template
or from the matplotlib source distribution

In [6]:
train_csv = pd.read_csv("./data/train_sections_data.csv", encoding='ISO-8859-1')
test_csv = pd.read_csv("./data/test_sections_data.csv", encoding='ISO-8859-1')

display(train_csv.isnull().sum())
display(test_csv.isnull().sum())
display(train_csv.head())
display(test_csv.head())

Text                0
IsBold              0
IsItalic            0
IsUnderlined        0
Left                0
Right               0
Top                 0
Bottom              0
FontType            0
Label               0
Unnamed: 10     14215
Unnamed: 11     14215
Unnamed: 12     14214
dtype: int64

Text            0
IsBold          0
IsItalic        0
IsUnderlined    0
Left            0
Right           0
Top             0
Bottom          0
FontType        0
Label           0
dtype: int64

,Text,IsBold,IsItalic,IsUnderlined,Left,Right,Top,Bottom,FontType,Label,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NOTES TO THE ACCOUNTS FOR THE 52 WEEK PERIOD E...,True,False,False,49.5,544.0,67.3,96.1,New Times Roman,1,NaN,NaN,NaN
1,DERIVATIVE INSTRUMENTS,False,False,False,41.5,140.2,49.0,54.7,New Times Roman,1,NaN,NaN,NaN
2,-6,False,False,False,113.5,122.2,409.3,414.9,New Times Roman,0,NaN,NaN,NaN
3,The following performance graph and related in...,False,False,False,112.9,706.9,339.0,360.3,New Times Roman,0,NaN,NaN,NaN
4,Typical service offerings include supply chain...,False,False,False,33.1,808.5,328.2,369.9,New Times Roman,0,NaN,NaN,NaN

,Text,IsBold,IsItalic,IsUnderlined,Left,Right,Top,Bottom,FontType,Label
0,Employee Involvement,True,False,False,77.9,175.6,425.3,434.2,New Times Roman,1
1,Income Taxes,True,True,False,33.1,79.6,284.8,290.6,New Times Roman,1
2,,False,False,False,77.9,81.3,346.1,355.0,New Times Roman,0
3,the Audit & Remuneration Committee,False,True,False,124.8,247.3,380.3,385.9,New Times Roman,0
4,Industry Overview,True,False,False,33.1,93.5,266.5,272.0,New Times Roman,1

In [7]:
print(len(train_csv.index))
display(train_csv['Label'].value_counts())
print(len(test_csv.index))
display(test_csv['Label'].value_counts())

14215

0    10520
1     3695
Name: Label, dtype: int64

1579

0    1174
1     405
Name: Label, dtype: int64

In [14]:
import os
import subprocess

for top, dirs, files in os.walk('./data/pdf_sample'):
    for filename in files:
        if filename.endswith('.pdf'):
            abspath = os.path.join(top, filename)
            subprocess.call('/Applications/LibreOffice.app/Contents/MacOS/soffice --invisible --infilter="writer_pdf_import" --convert-to docx --outdir ./data/pdf_sample "{}"'.format(abspath), shell=True) #  --outdir="./data/pdf_sample"

convert /Users/lade/Documents/Dev/Side_projects/Shapesheet/data/pdf_sample/sample4.pdf -> /Users/lade/Documents/Dev/Side_projects/Shapesheet/data/pdf_sample/sample4.docx using filter : Office Open XML Text
convert /Users/lade/Documents/Dev/Side_projects/Shapesheet/data/pdf_sample/sample2.pdf -> /Users/lade/Documents/Dev/Side_projects/Shapesheet/data/pdf_sample/sample2.docx using filter : Office Open XML Text
convert /Users/lade/Documents/Dev/Side_projects/Shapesheet/data/pdf_sample/sample3.pdf -> /Users/lade/Documents/Dev/Side_projects/Shapesheet/data/pdf_sample/sample3.docx using filter : Office Open XML Text
convert /Users/lade/Documents/Dev/Side_projects/Shapesheet/data/pdf_sample/sample1.pdf -> /Users/lade/Documents/Dev/Side_projects/Shapesheet/data/pdf_sample/sample1.docx using filter : Office Open XML Text

In [22]:
from docx import *

document = Document('./data/pdf_sample/sample1.docx')
bolds=[]
italics=[]
for para in document.paragraphs:
    for run in para.runs:
        if run.italic :
            italics.append(run.text)
            print(run.text)
        if run.bold :
            bolds.append(run.text)

boltalic_Dict={'bold_phrases':bolds,
              'italic_phrases':italics}

In [23]:
boltalic_Dict

{'bold_phrases': [], 'italic_phrases': []}